.imgWidth{
    width: 120px;
}
.subTitle{
    background: rgb(235, 210, 210);
    /* width: 190px; */
    align-items: center;
    /* margin-left: 45px; */
    border-radius: 3px;
    font-size: 12px;
    margin-top: -8px;
    font-weight: 600 !important;
}
.reduceWidth{
  width: 170px !important;
}
.subTitleSelected{
  width: 240px !important;
}
.marginLeftReset{
  margin-left: 0px !important;
}
.title{
    font-size: 12px !important;
    color:#0078D3;
}
.dollors{
    font-size: 16px !important;
    margin-top: -0px;
}
.dollors-sm-font{
  font-size: 12px !important;
}
.monthlyPremium{  
  margin-top: -8px !important;
  font-size: 12px !important;
}
.monthlyPremiumSubTitle{  
    margin-top: -7px;
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #4193CE;
  }
  .checked {
    color: orange;
  }
  .auto_width{
   width: auto !important;
  }
  .yearlyDeduct{
    color:#0078D3 !important;
    margin-top: -14px;
    font-size: 12px !important;
  }
  .colorBlue{
    color:#0078D3 !important;
    font-size: 12px !important;
  }
  .payInfo{
    font-size: 12px !important;
  }
  .whiteSpace{
    white-space: pre;
  }
  .borderColor{
    border: 1px solid #403b3b2b;
  }
  .compareborderColor{
    border: 1px solid #00000038;
  }
  .compareborderDashedColor{
    border: 1px solid black;
    border-style: dotted;
  }
  .btnPadding{
    padding: 8px;
  }
  .btnShadow{
    box-shadow: 0 0 6px rgb(226 226 226 / 80%);
  }
  .filterFont{
    font-size: 13px !important;
  }
  .planType{
    font-size: 12px !important;
  }
  .marginClass{
    margin-top: .2rem !important;
  }
  .marginLeft{
    margin-left: -31px;
  }
  .form-check-input-margin{
    margin-top: .1rem !important; 
  }
  .heightOverflowy{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.closeBtn{
  font-size: 18px;
  color:red;
}
.closeBtnStyles{  
  border: 2px solid red !important;
  border-radius: 12px !important;
  line-height: 12px !important;

}
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.cartBtn{
  background-color: aliceblue;
}
.btnWidth{
  width: 240px !important;
}
.btnColor{
  background-color: #002C77;
  color: white;
}
.addWidth{
  width: 220px !important;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {    
  padding-right: 0px !important;
   padding-left: 0px !important;   
}
.row {  
  margin-right: 0px !important;
  margin-left: 0px !important;
}