.rowColor{
    background-color: white;
    height: 45px;
    color: #495057;
    box-shadow: inset 0 0 10px #00000040;
}
.rowColorSub{
    background-color: #E7F3FD;
    color: #495057;
       
}
.rowColorSubWhite{
  background-color: white;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {    
    padding-right: 0px;
     padding-left: 0px;   
}
.row {  
    margin-right: 0px;
    margin-left: 0px;
}
.inNetworkBG{    
    color: white;
    height: 20px;
    color: #495057;

}
.fontColorWhite{
    /* color: white; */
    color: #495057;
}
.fontColorBlack{
    color: black;
}
.colHeight{
    height: 25px;
}
p:after {
    content: "";
    display: inline-block !important;
    width: 100% !important;
  }
  .rowHeight{
      height: 45px !important;
  }
  .purpelText{
    color: #4b0082bd;
  }
  .iconbgGreen{
      color: green;
  }
  .marginTopReset{
      margin-top: -20px;
  }
.bgPurpule{
    background-color:#E7F3FD;
    color: #495057;
    height: 45px;
    padding: 2px;
    margin-top: -15px;
}
.bgPurpuleCompare{
    background-color:#8b39ab;
    color: black;   
    height: 30px;
   
}
.milesFont{
    font-size: 17px !important;
}

  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto&display=swap');

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* .container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  background: #f3f3f3;
} */

.card{
  width: 100%;
  border: none !important;
  background: white;
  box-shadow: 4px 4px 15px rgba(#000, 0.15);

  position : relative;
  color: #434343;
}

.card .card__container{
  /* padding : 2rem; */  
  width: 100%;
  height: 280px;
  background: white;
  border-radius: 1rem;
  position: relative;
}

.card .card__header{
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
}

.card .card__body{
  font-family: 'Roboto', sans-serif;
}

.card::before{
  position: absolute;
  top:2rem;
  left:-0.5rem;
  content: '';
  background: #6d9cc4d6;
  height: 28px;
  width: 28px;
  transform : rotate(45deg);
}
.noRibbon{
  background: white !important;
}
.card::after{
  position: absolute;
  content: attr(data-label);
  top: 11px;
  left: -14px;
  padding: 0.5rem;
  width: 27em;
  background: #E7F3FD;
  color: #495057;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}
.noRibbon::after{
  background: white !important;
  box-shadow: none !important;
}
.noRibbon::before{
  background: white !important;  
}
.setWidth{
    width: 250px;
}
.setWidthCompare{
  width: 150px;
}
.setMargins{
  margin-left: 5px !important;
  margin-right: 5px !important;
}
._marginTopReset{
  margin-top: -30px;
}
.underLine{
  border-bottom: 3px solid #1589EE;
}
/* .imageResize{
  height: 90px !important;   
    object-fit: cover;
    object-position: top;
} */
.tce-screen p, .tce-screen p small {
  font-size: 12px !important;
}